[MASTER]
ignore = alembic.ini
ignore-paths = ^app/alembic/.*$, ^app/common/.*$, ^app/models/.*$, ^app/test/.*$, ^app/helper/.*$

fail-under = 7

disable = C0114, C0115, C0116, C0103, R0903

[FORMAT]
max-line-length=200