[MASTER]
ignore = alembic.ini
ignore-paths = ^backend/app/alembic/.*$, ^backend/app/common/.*$, ^backend/app/models/.*$, ^backend/app/test/.*$, ^backend/app/helper/.*$

fail-under = 7

disable = C0114, C0115, C0116, C0103, R0903

[FORMAT]
max-line-length=200